RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(verify|register|recover)$ auth.php?action=$1 [QSA,L]
RewriteRule ^credentials$ credentials.php [QSA,L]
