  [Unit]
  Description=RBR Controller
  After=network-online.target
  Wants=network-online.target

  [Service]
  Type=simple
  User=linaro
  WorkingDirectory=/home/linaro
  ExecStart=/bin/bash -c 'until getent hosts rbrheating.duckdns.org > /dev/null 2>&1; do sleep 2; done; exec /usr/bin/allspeak controller.as'
  Restart=always
  RestartSec=5

  [Install]
  WantedBy=multi-user.target
