[Unit]                                                                               
Description=Zigbee MQTT Bridge for RBR
After=zigbee2mqtt.service                                                            
Wants=zigbee2mqtt.service                                 

[Service]
Type=simple
User=linaro
WorkingDirectory=/home/linaro
ExecStart=/usr/bin/python3 -u /userdata/zigbee-bridge.py
Restart=on-failure
RestartSec=10
KillMode=control-group                                                                         
  
[Install]                                                                            
WantedBy=multi-user.target                                
